@import "~bootstrap/scss/bootstrap";

header {
    height: 20vh;
    background-image: url('../images/frogbanner.png');
}

.CardImg {
    size: cover;
}

footer {
    margin-top: 10vh;
    height: 10vh;
}